{% extends 'base.html.twig' %}

{% block title %}Lieu index{% endblock %}

{% block body %}
    <h1>Lieu index</h1>




    <div class="container p-5 scroller">

        <div class="row ">
            <div class="col-5">
                <div class="card mb-4 couleurFond">
                    <div class="card-body text-center">
                        <h5 class="my-3 ">  Ajouter un lieu</h5>

                        <a href="{{ path('app_lieu_new') }}" class="btn btn-outline-primary ms-1">Ajouter</a>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="row">
                    {% for lieu in lieus %}

                        <div class=" col-3">
                            <div class="card mb-4 couleurFond">
                                <div class="card-body text-center">

                                    <h5 class="my-3 ">{{ lieu.nomLieu }} </h5>
                                        <a href="{{ path('app_lieu_show', {'id': lieu.id}) }}">Voir</a>


                                </div>
                            </div>

                        </div>


                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
