{% extends 'base.html.twig' %}

{% block title %}New Lieu{% endblock %}

{% block body %}
    <h1  class="titreh1">Ajouter un lieu</h1>

    {{ include('lieu/_form.html.twig') }}
    <a href="{{ path('app_accueil') }}"class="btnAffichageRetourAccueil">Retour à l'accueil</a>
{% endblock %}
