<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <title>Document</title>
</head>
<body class="container-fluid">
<div class="row " id="header">

    <div class=" col-1 ">

        <h1 class="titrePrincipal">Sortie <span id="com" class="">.com</span></h1>

    </div>
    <div class="col-10">
    </div>
</div>




<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                    Se connecter
                </div>
                {% if error %}
                    <div class=" col-lg-12 alert alert-danger">Le mot de passe ou l'identifiant sont invalides</div>
                {% endif %}
                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">

                        <div class="form-group">

                            <label for="inputPseudo form-control-label">Pseudo</label>
                            <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" required autofocus>

                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password"  required>

                        </div>
                        <a href="{{ path('app_forgot_password_request') }}"class="seSouvenir" > Mot de passe oublié?</a>
                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-6 login-btm login-text">

                            </div>
                            <div class="col-lg-6 login-btm login-button">

                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}">

                            </div>
                            <div>
                                <label>
                                    <input type="checkbox" name="_remember_me" checked/>
                                    Se souvenir de moi
                                </label>

                                <button class="btn btnSeconnecter float-right" type="submit">
                                    Se connecter
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>
