{% extends 'base.html.twig' %}

{% block title %}Edit Participant{% endblock %}

{% block body %}


    {{ include('participant/_form.html.twig', {'button_label': 'Mise à jour'}) }}
    <a href="{{ path('app_participant_index') }}" class="  btnAffichagePage">Retour à la liste </a>

    <a href="{{ path('app_accueil') }}" class="btnAffichageRetourAccueil">Retour à l'accueil</a>

    {{ include('participant/_delete_form.html.twig') }}
{% endblock %}
