{% extends 'base.html.twig' %}

{% block title %}Edit Participant{% endblock %}

{% block body %}


    {{ include('participant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_accueil') }}" class="btnAffichagePage">Retour à l'accueil</a>

    {{ include('participant/_delete_form.html.twig') }}
{% endblock %}
