{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}


    {{ include('sortie/_form.html.twig') }}
    <a href="{{ path('app_ville_index') }}" class="  btnAffichagePage">Retour à la liste </a>

    <a href="{{ path('app_accueil') }}" class="btnAffichageRetourAccueil">Retour à l'accueil</a>
{#    {% if sortie.etatsNoEtat.Id <=3 %}#}

{#        <form method="post" action="{{ path('app_sortie_delete', {'id': sortie.id}) }}" >#}


{#            <button class="btn btn-outline-primary ms-1" value="annulation" name="annulation">Annuler la sortie</button>#}

{#        </form>#}
{#    {% endif %}#}
{% endblock %}
