{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <h1 class="text-center">A vous de créer votre sortie</h1>

    {{ include('sortie/_form.html.twig') }}

    <a href="{{ path('app_accueil') }}">Retour à l'accueil</a>
{% endblock %}
