{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}
{% block body %}
 {% for message in app.flashes('message') %}
     <div class="flash-info">
         {{ message }}
     </div>
 {% endfor %}

{% endblock %}