body{
    margin: 0;
    padding: 0;
    color: white;
}

/*******************************/
/*Au-dessus*/
.header{
    border: 2px solid black;
}
.fix{
    position:fixed;
    top:0;
    left:0;
    right:0;
    margin:0;
}

/*******************************/
/*Titre*/

.titrePrincipal{
    display: flex;
}

/*******************************/
/*Menu*/


.nav .menu-items{
     position: relative;
     display: inline-flex;
     padding: 3px;


    margin: -12px 0px;
    /* z-index: 1; */
    /* font-size: 1rem;*/

}
.menu-items::after{
    content: "";
    transform: scale(0);
    height: 2px;
    width: 87%;
    background: #0DB8DE;
    display: block;
    position: absolute;
    top: 82%;
    transition: transform 0.4s ease-in-out;

}
.menu-items:hover::after{
    transform: scale(1);
}

.nav .menu-items a{
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0.9;
    /*
    padding: 2px;
    */

}
/************ Style bouton*********************/
.creation{
    width: 150px;
    /*background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(255,173,57,1) 95%);*/

}
.parent .creation{
    width: 150px;
    height: 78px;
    margin: 40px 0 0 -190px;
}
.creationCard{
    width: 128px;
}
.creation:active{
    -webkit-box-shadow: 0px 2px 0px ;
    -moz-box-shadow: 0px 2px 0px ;
    box-shadow: 0px 2px 0px ;
    position:relative;
    top:7px;}
.nav{
    padding-left: 379px;
}
a{
    text-decoration: none;
    color: white;
}
.liens-items:hover{
    color: #edc139;
}
.btnAffichagePage{
    border-radius: 26.5px;
    background-color: #212529;
    border: 1px solid #0DB8DE;
    box-shadow: 0 16px 22px -17px #03153B;
    color:  #edc139;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 145px;
    z-index: 999;
}
.btnAffichagePage:hover {
    background-color: #212529;
    color: white;
}
.btnAffichageRetourAccueil{
    border-radius: 26.5px;
    background-color: #212529;
    border: 1px solid #0DB8DE;
    box-shadow: 0 16px 22px -17px #03153b;
    color:  #edc139;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 9px;
    position: fixed;
    bottom: 20px;
    right: 0px;
    z-index: 999;
}
.btnAffichageRetourAccueil:hover {
    background-color: #212529;
    color: white;
}
.btnCreationSortie:focus {
    outline: none;
}


/* SOus menu administrateur*/
.signe_droite::after{
    content: "\2BC8";
    padding-left: 3px;
    position: absolute;
    top: 23%;
    font-size: 17px
}
.sous_menu_admin{
    position: absolute;
    display: none;
    border-radius: 10%;
    left: 100%;
    width: 60%;
    top: 0;
    background-color: rgb(200 175 175 / 89%);

}
.sous_menu_admin:hover{
    display :block;
}
/***********Couleur**************/

.couleurEcriture{
    color: white;
}

/********Tableau d'affichage******/
/*
.table{
    text-align: center;
}
*/
/********Cards page accueil******/
.card{
    margin-bottom: 10px;
    margin-left: 10px;
}

/********Profil utilisateur******/
.couleurFond{
    background-color: #1A2226;
}
section p{
    color: white;
}
.soulignage{
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-bottom: 2px solid #0DB8DE;
     opacity: 1;
}
/************Editer Sortie*************/
#sortie_duree{
    margin-top: 12px;
}

/*******Cards page Sortie Affichage Participant********/
.imgcard{
    height: 100px;
}
/*******Cards images page d'accueil********/
.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

/******Scroll ***********/
.scroller {

    height: 70vh;/*478px;*/
    overflow-y: scroll;

}

.btn:hover{
    background-color: #0DB8DE;
    right: 0px;
}

/*******Lieu **************/
#exemple{
    visibility: hidden;
}

/*******Boutons************/

.boutons {

    /* border-color: #0DB8DE; */
border: 1px solid #0DB8DE;
    color: #0DB8DE;
    border-radius: 10px;
    padding: 6px;
    font-weight: bold;
}

.boutons:hover{

  color: white;
}

/*******boutons enlevé
 */

button{
    text-decoration: none;
    background-color: rgb(26 34 38);
    margin-right: 5px;
}