body{
    margin: 0;
    padding: 0;
    color: white;
}
/*******************************/
/*Titre*/

.titrePrincipal{
    display: flex;
}
/*******************************/
/*Menu*/


.nav .menu-items{
     position: relative;
     display: inline-flex;
     padding: 3px;


    margin: -12px 0px;
    /* z-index: 1; */
    /* font-size: 1rem;*/

}
.menu-items::after{
    content: "";
    transform: scale(0);
    height: 3px;
    width: 90%;
    background: #edc139;
    display: block;
    position: absolute;
    top: 82%;
    transition: transform 0.4s ease-in-out;

}
.menu-items:hover::after{
    transform: scale(1);
}

.nav .menu-items a{
    text-decoration: none;
    font-size: 1.4rem;
    opacity: 0.9;
    /*
    padding: 2px;
    */

}
.creation{
    width: 150px;
    /*background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(255,173,57,1) 95%);*/

}

.creation:active{
    -webkit-box-shadow: 0px 2px 0px ;
    -moz-box-shadow: 0px 2px 0px ;
    box-shadow: 0px 2px 0px ;
    position:relative;
    top:7px;}
.nav{
    padding-left: 379px;
}
a{
    text-decoration: none;
    color: white;
}
.liens-items:hover{
    color: #edc139;
}


/* SOus menu administrateur*/
.signe_droite::after{
    content: "\2BC8";
    padding-left: 3px;
    position: absolute;
    top: 23%;
    font-size: 17px
}
.sous_menu_admin{
    position: absolute;
    display: none;
    border-radius: 10%;
    left: 100%;
    width: 60%;
    top: 0;
    background-color: rgb(200 175 175 / 89%);

}
.sous_menu_admin:hover{
    display :block;
}
/***********Couleur**************/

.couleurEcriture{
    color: white;
}

/********Tableau d'affichage******/
.table{
    text-align: center;
}
